<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVQw8UydGYksUtS2M2vdamGhmAbUVLmGo</string>
	<key>GCM_SENDER_ID</key>
	<string>622241807603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cattcatt.cattCatt</string>
	<key>PROJECT_ID</key>
	<string>catt-catt</string>
	<key>STORAGE_BUCKET</key>
	<string>catt-catt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622241807603:ios:9eef52d2f3e1b6c5870b86</string>
</dict>
</plist>